@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,600&family=PT+Serif:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,500&display=swap');


:root{    
    /*Fonts*/
    --font-Serif:'IBM Plex Serif';
    --font-Memoirs: 'Mouse Memoirs', sans-serif;
    --font-Rubik: "Roboto Condensed" ,sans-serif;


    /*Colores*/
    --colorOrange:#ec4e00;
    --colorOrange2:#ff9e02;
    --colorWhite: #ffff;
    --colorWhite2: #ffffffb6;
    --colorGray: #101010;
    --colorGray2: #1a1a1a;
    --colorGray3: #424949;
    --colorGray4: #161616;
    --colorGray5: #303030;
    --colorBlack: #000;
}